@model J00rStore.Models.ViewModels.ShoppingCartViewModel

@{
	ViewData["Title"] = "Cart";
}
<form method="post" class="mt-4">

    <div class="row mt-5">
        <div class="col-12">
            <p class="fs-3">Shopping Cart</p>
            <hr />
        </div>
    </div>

    @if (Model.ListCart.Count() < 1)
    {
        <div class="row">
            <div class="col-6">
                <h4><strong>J00R cart is empty!</strong></h4>
            </div>
        </div>
    }
    else
    {

        @foreach (var cart in Model.ListCart)
        {
            <div class="row">
                <div class="col-2 text-center">
                    <img style="width: 200px;" src="@cart.Product.ImageUrl" alt="@cart.Product.Name image" title="@cart.Product.Name" />
                </div>
                <div class="col-6">
                    <h4><strong>@cart.Product.Name</strong></h4>
                    <p><small>@cart.Product.Description</small></p>
                </div>
                <div class="col-4 my-auto text-center">
                    <h6><strong class="mx-2">Price: @cart.Product.Price.ToString("c")</strong></h6>
                    <h6><strong class="mx-2">Count: @cart.Count</strong></h6>
                    <a asp-action="plus" asp-route-cartId="@cart.Id" class="btn btn-warning"><i class="bi bi-plus-circle"></i></a>
                    <a asp-action="minus" asp-route-cartId="@cart.Id" class="btn btn-white"><i class="bi bi-dash-circle"></i></a>
                    <a asp-action="remove" asp-route-cartId="@cart.Id" class="btn btn-danger"><i class="bi bi-trash-fill"></i></a>
                </div>
            </div>

            <hr />
        }



        <div class="row">
            <div class="col-12 text-end">
                <p>Total (PLN) <strong>@Model.Order.TotalPrice</strong></p>
            </div>
        </div>

        <a asp-controller="Cart" asp-action="Summary" class="btn btn-success float-end">Checkout</a>
    }
</form>